.footer {
	background-color: $rosa-escuro;
	color: $verde;
	padding: 20px 30px;
	padding-top: 60px;

	@media screen and (min-width: 2000px) {
		padding: 2vw;
		padding-top: 3vw;
	}

	.left {
		display: flex;
		align-items: flex-end;

		h1 {
			font-family: "Monarch";
			font-size: 55px;
			line-height: 66px;
			padding: 0;
			margin-bottom: -15px;

			@media screen and (min-width: 2000px) {
				font-size: 4vw;
				line-height: 3vw;
			}
		}
	}

	.right {
		ul {
			padding-bottom: 15px;
			
			@media screen and (min-width: 2000px) {
				padding-bottom: 2vw;
			}
			
			li {
				a {
					font-family: 'Akkurat-Mono';
					text-transform: uppercase;
					color: $verde;
					font-size: 16px;
					letter-spacing: 3.2px;
					line-height: 35px;

					@media screen and (min-width: 2000px) {
						font-size: 1.5vw;
						line-height: 1.5;
					}

					@media screen and (max-width: 1400px) {
						line-height: 25px;
						font-size: 14px;
					}
				}
			}
		}
		p {
			font-family: 'Akkurat-Mono';
			font-size: 16px;
			text-transform: uppercase;
			line-height: 35px;
			color: $verde;
			letter-spacing: 3.2px;

			@media screen and (max-width: 1400px) {
				line-height: 25px;
				font-size: 14px;
			}

			a {
				color: $verde;
				
				&:hover {
					font-weight: 700;
				}
			}
			
			@media screen and (min-width: 2000px) {
				font-size: 1.5vw;
				line-height: 1.5;
			}
		}
	}
}