.journal {
	padding: 15px;

	.header-text {
		padding-top: 80px;
		padding-bottom: 40px;

		.title {
			font-size: 70px;
			line-height: 89px;
			text-align: center;

			@media screen and (min-width: 2000px) {
				font-size: 4vw;
				line-height: 4vw;
			}
		}
	}

	.posts-journal {
		columns: 3 300px;
		column-gap: 30px;

		div {
			width: 150px;
			color: $preto;
			margin: 0 1rem 30px 0;
			display: inline-block;
			width: 100%;
			text-align: center;

			img {
				width: 100%;
				height: auto;
			}

			p {
				font-family: 'Akkurat-Mono';
				font-size: 16px;
				text-transform: uppercase;
				padding: 15px 0;
				text-align: center;

				@media screen and (min-width: 2000px) {
					font-size: 1vw;
					padding: 1vw;
				}
			}

			.title {
				font-size: 35px;
				line-height: 46px;
				padding: 10px;

				@media screen and (min-width: 2000px) {
					font-size: 2vw;
					line-height: 2.5vw;
				}
				
				@media screen and (max-width: 1400px) {
					font-size: 25px;
					line-height: 35px;
				}

				@media screen and (max-width: 991px) {
					font-size: 15px;
					line-height: 26px;
				}
			}
		}
	}
}