.slider-home {
	.swiper-container {
		width: 100%;
		height: auto;
		background-color: $claro;

		@media screen and (max-width: 767px) {
		 	height: 100vh;
		}
		
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			position: relative;

			.overlay-slider {
				position: absolute;
				top: 38px;
				width: 100%;
				height: calc(100% - 38px);

				@media screen and (max-width: 767px) {
					position: initial;
					height: 100%;
					padding: 0 30px;
				}
			}

			img {
				height: auto;
				max-width: 100%;

				@media screen and (max-width: 767px) {
					margin: 0 auto;
					padding-bottom: 30px;
				}
			}

			.title {
				font-size: 100px;
				line-height: 121px;
				color: $rosa-escuro;
				padding-top: 79px;
				padding-bottom: 79px;

				@media screen and (min-width: 2000px) {
					font-size: 5vw;
					line-height: 5vw;
					padding: 2vw 0;
					
					&.container {
						max-width: 80vw;
					}
				}

				@media screen and (max-width: 1400px) {
					// font-size: 80px;
					// line-height: 99px;
					// padding-top: 15px;
					font-size: 60px;
					line-height: 79px;
					padding-top: 50px;
					padding-bottom: 50px;
					
					&.container {
						max-width: 950px;
					}
				}

				@media screen and (max-width: 991px) {
					font-size: 50px;
					line-height: 69px;
				}

				@media screen and (max-width: 767px) {
					font-size: 35px;
					line-height: 54px;
					padding: 30px 0;
				}

				svg {
					width: 52vw;
					height: auto;
					
					@media screen and (max-width: 767px) {
						width: 100%;
					}
				}
			}

			.subtitle {
				font-family: 'Akkurat-Mono';
				color: $rosa-escuro;

				@media screen and (min-width: 2000px) {
					font-size: 1.5vw;
					line-height: 1.5;
					padding: 3vw 0;
				}

				@media screen and (max-width: 1400px) {
					&.container {
						max-width: 950px;
					}
				}

				@media screen and (max-width: 767px) {
					font-size: 13px;
				}
			}

			&.escuro {
				color: $verde;

				.title {
					color: $verde;
				}

				.subtitle {
					color: $verde;
				}
			}
		}

		.swiper-pagination {
			&.escuro {
				.swiper-pagination-bullet {
					color: $verde;
				}
			}
		}
		.swiper-pagination-bullet {
			width: auto;
			height: auto;
			text-align: center;
			line-height: 20px;
			font-size: 12px;
			color: $rosa-escuro;
			opacity: 1;
			background-color: transparent;
			outline: none;
			font-size: 16px;
			padding-right: 10px;
			line-height: 35px;

			@media screen and (min-width: 2000px) {
				font-size: 1.3vw;
			}
		}

		.swiper-pagination-bullet-active {
			background-color: transparent;
			text-decoration: underline;
		}
	}
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 38px;
	@media screen and (min-width: 2000px) {
		bottom: 4vh;
	}
}